.btn1 {
    position: relative;
    border: none;
    width: 200px;
    height: 60px;
    background-color: #458FF6;
    border-radius: 55px;
    color: white;
    border: 1.4px solid #458FF6;
    z-index: 1;
    transition: 500ms ease;
    overflow: hidden;
}

.span-1{
    color: #fff;
}

.span-2 {
    position: absolute;
}

.span-2 {
    color: #458FF6;
    bottom: -250%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    transition: 500ms ease;

}

.btn1:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 200%;
    width: 200%;
    border-radius: 50%;
    background-color: white;
    transition: 500ms ease;
    z-index: -1;
}

.btn1:is(:hover, :focus):before {
    bottom: -10%;
}

.btn1:is(:hover, :focus-visible) .span-2 {
    z-index: 2;
    bottom: 50%;
    transform: translateY(50%) translateX(-50%);
}


.btn1 .span-2, .span-1 {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
}


/* Button 2 */


.btn2 {
    position: relative;
    border: none;
    width: 200px;
    height: 60px;
    background-color: #fff;
    border-radius: 55px;
    color: white;
    border: 1.4px solid #458FF6;
    z-index: 1;
    transition: 500ms ease;
    overflow: hidden;
}

.text-1{
    color: #458FF6;
}

.text-2 {
    position: absolute;
}

.text-2 {
    color: #fff;
    bottom: -250%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    transition: 500ms ease;

}

.btn2:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 200%;
    width: 200%;
    border-radius: 50%;
    background-color: #458FF6;
    transition: 500ms ease;
    z-index: -1;
}

.btn2:is(:hover, :focus):before {
    bottom: -10%;
    z-index: 2;
}

.btn2:is(:hover, :focus-visible) .text-2 {
    z-index: 2;
    bottom: 50%;
    transform: translateY(50%) translateX(-50%);
}


.btn2 a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
}

/* Button 3 */

.btn3{
    border: none;
    width: 200px;
    height: 60px;
    background-color: #458FF6;
    border-radius: 55px;
    color: #fff;
    border: 1.4px solid #458FF6;
    z-index: 1;
    transition: 500ms ease;
}

.btn3:hover{
    border-color: #3568A6;
    background-color: #3568A6;
}